<div class="col-md-6">
  <h2>Faculties Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>
  <input type="text" class="form-control" style="width: 230px; display: inline" #addFaculty>
  <button class="btn btn-success" (click)="onAddFaculty(addFaculty.value); addFaculty.value= ''">+ Add Faculty</button>
  <br><br>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Faculty Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let faculty of faculties">
      <td *ngIf="faculty.name !== editValue">{{faculty.name}}</td>
      <td *ngIf="faculty.name === editValue"><input type="text" [(ngModel)]="editing" title="">
        <button class="btn btn-success" (click)="onSave(faculty,editing)">Save</button>
        <button class="btn btn-success" (click)="onExit()">Exit</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="onEdit(faculty.name)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(faculty)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

