<h2>Add Student</h2>
<p>The .table-bordered class adds borders to a table:</p>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Faculty</th>
    <th>Group</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><input type="text" name="firstName" id="firstName" title=""></td>
    <td><input type="text" name="lastName" id="lastName" title=""></td>
    <td>

    </td>
    <td>c</td>
    <td> <button class="btn btn-primary">Edit</button> </td>
    <td><button class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>

<button (click)="goBack()" class="btn btn-primary"> < Back</button>
