<h2>Students Table</h2>
<p>The .table-bordered class adds borders to a table:</p>
<button class="btn btn-success" (click)="goToAddStudent()">Add Student</button>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Faculty</th>
    <th>Group</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.first_name}}</td>
    <td>{{student.last_name}}</td>
    <td>{{student.name}}</td>
    <td> {{student.group_name}}</td>
    <td>
      <button class="btn btn-primary">Edit</button>
    </td>
    <td>
      <button class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

