<div class="col-md-6">
  <h2>Group Table</h2>
  <p>The .table-bordered class adds borders to a table:</p>

  <label for="filter_faculties">Select Faculties</label>
  <select class="form-control" id="filter_faculties" title="" #selectedFaculty (change)="onChangeFaculty(selectedFaculty.value)">
    <option></option>
    <option *ngFor="let faculty of faculties" [value]="faculty.id">
      {{faculty.name}}
    </option>
  </select>
  <br><br>
  <p>Groups by faculty</p>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Groups</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of groups">
      <td>{{group.group_name}}</td>
      <td>
        <button class="btn btn-primary">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
